:root {
  --color-back-1: black;
  --color-back-2: gray;
  --color-content-1: white;
  --color-content-2: rgb(202, 202, 202);
}
body {
  min-width: 800px;
  background-color: var(--color-back-1);
  font-family: "Roboto Slab", serif;
}
a {
  text-decoration: 0;
}
