footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .key {
  color: var(--color-content-1);
  font-size: 20px;
  background-color: var(--color-back-2);
  width: 40px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
footer .key.Enter,
footer .key.Backspace {
  width: 80px;
}
footer .key:hover {
  cursor: pointer;
}
