footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
footer .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .key {
  color: var(--color-content-1);
  font-size: 20px;
  background-color: var(--color-back-2);
  width: 40px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}
footer .key[data-key="ENTER"],
footer .key[data-key="BACKSPACE"] {
  width: 50px;
}
footer .key[data-key="ENTER"] {
  font-size: 0.7em;
}
footer .key:hover {
  cursor: pointer;
}
footer .key.red {
  background-color: var(--color-red);
}
footer .key.yellow {
  background-color: var(--color-yellow);
}
footer .key.green {
  background-color: var(--color-green);
}
