main > .inner {
  margin-top: 60px;
}
main > .inner .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .inner .column {
  width: 60px;
  height: 60px;
  margin: 5px;
  border: 2px solid var(--color-back-2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-content-1);
  font-size: 40px;
}
main > .inner .column.filled {
  border: 2px solid var(--color-content-1);
}
main > .inner .column.green {
  border: 2px solid var(--color-green);
  background-color: var(--color-green);
}
main > .inner .column.yellow {
  border: 2px solid var(--color-yellow);
  background-color: var(--color-yellow);
}
